<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>VisiOmatic server</title>
    <meta name="DC.creator" content="Emmanuel Bertin &lt;astromatic@iap.fr&gt;"/>
    <meta name="DC.title" content="VisiOmatic server"/><meta name="DC.source" content="https://visiomatic.org"/>
  </head>
  <body style="font-family:Helvetica,sans-serif; margin:4em">
    <center>
      <h1>VisiOmatic Server</h1>
      <h2>Version 3.0</h2><br/>
      <h3>Project Home Page: <a href="https://visiomatic.org">https://visiomatic.org</a></h3><br/>
      <h4>Github Page: <a href="https://github.com/astromatic/visiomatic">https://github.com/astromatic/visiomatic</a></h4>
      <h4>Reference: <a href="http://arxiv.org/abs/1403.6025">http://arxiv.org/abs/1403.6025</a></h4>
    </center>
  </body>
</html>

