<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta id="root_path" content="{{ root_path }}">
    <link rel="icon" type="image/svg+xml" href="{{ root_path }}/client/images/visiomatic.png">
    <title>VisiOmatic III</title>
    <link rel="stylesheet" href="{{ root_path }}/client/css/jqplot.css" />
    <link rel="stylesheet" href="{{ root_path }}/client/css/spectrum.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="*"/>
    <link rel="stylesheet" href="{{ root_path }}/client/css/visiomatic.css" />
    <style type='text/css'>
		body {padding: 0; margin: 0; }
		html,body,#map { width: 100%; height: 100%; }
        .leaflet-control-attribution {
	        background: rgba(100,100,100,0.0) !important;
	        
	        box-shadow: none;
        }
    </style>
    <script src="{{ root_path }}/client/dist/visiomatic.js"></script>
  </head>
  <body>
    <div id='map' style='background:black'></div>
	<script>
		var args = V.util.VUtil.parseURL(window.location.search.substring(1)),
				url = '{{ tiles_path }}?FIF=' + (args['tile'] ? args['tile'] : '{{ image }}'),
				map = L.map('map', {fullscreenControl: true, zoom: 1}),
				vlayer = V.layer.vTileLayer(url, {
					center: args['center'] ? args['center'] : false,
					fov: args['fov'] ? parseFloat(args['fov']) : false,
					mixingMode: args['mode'] ? args['mode'] : 'mono',
					contrast: 1.0,
					gamma: 2.2,
					colorSat: 1.5,
					defaultChannel: args['channel'] ? parseInt(args['channel'], 10) : 0,
					reuseTiles: true
				}).addTo(map);

        V.control.fullScreen().addTo(map);
		V.control.scale({pixels: false}).addTo(map);
		V.control.reticle().addTo(map);
		V.control.coords({coordinates: [
			{label: 'RA,Dec', units: 'HMS'},
		], position: 'topright'}).addTo(map);

		var	minivlayer = V.layer.vTileLayer(url, {
					mixingMode: args['mode'] ? args['mode'] : 'mono',
					defaultChannel: args['channel'] ? parseInt(args['channel'], 10) : 0,
					contrast: 1.0,
					gamma: 2.2,
					colorSat: 1.5,
					reuseTiles: true
				}),
				minimap = V.control.extraMap(minivlayer, {
					position: 'topright',
					width: 192,
					height: 192,
					zoomLevelOffset: -5,
				}).addTo(map),
			sidebar = V.control.sidebar().addTo(map);

		V.control.channelUI().addTo(sidebar);
		V.control.imageUI().addTo(sidebar);
		V.control.catalogUI().addTo(sidebar);
		V.control.regionUI().addTo(sidebar);
		V.control.profileUI().addTo(sidebar);
		V.control.snapshotUI().addTo(sidebar);
		sidebar.addTabList();
		V.control.docUI('{{ doc_url }}').addTo(sidebar);
		sidebar.addTabList();
	</script>
  </body>
</html>

