sphinx == 5.3.0
sphinx-rtd-theme >= 1.2
sphinxcontrib-bibtex >= 2.4.0
sphinx-js >= 3.2.1
astropy >= 5.0
fastapi >= 0.74
joblib >= 1.0
methodtools >= 0.4.7
numpy >= 1.19
opencv-python >= 4.5
parsimonious >= 0.10
simplejpeg >= 1.6
tiler >= 0.5
uvicorn >= 0.17

